@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.back{
  position:fixed;
    padding:0;
    margin:0;

    top:30%;
    left: 30%;

    width: 100%;
    height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.react-vertical-timeline-options {
  color:orange
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}


.neon-button{
  box-shadow: 0 0 3px #eb269f,
  0 0 20px #eb269f;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}


